.logo-nunes{
    width: 80px;
}
.btn-editar-produto{
   width: 5em;
}

.btn-excluir-produto {
    width: 5em;
}

body {
    background-color: #4e6352;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
}

.nav-item:hover{
    background-color: #4e6352;
    border-radius: 10px;

}



